/* 导航栏最小的占用长度为1152px */
.header-site {
  min-width: 1152px;
  /* 高度150px是将三个头部导航都放到了一块 */
  height: 150px;
}

.header-site .first-header {
  min-width: 1152px;
  background-color: #2a2a2a;
  /* height 等于 line-height ： 文本居中对齐 */
  height: 32px;
  line-height: 32px;
}

.header-site .first-header a {
  color: brown;
}

/* ----- 1、左侧导航 start ----- */

/* 将整个左侧导航左浮动 */
/* 这是的浮动影响的是左右导航 */
.header-site .first-header .first-header-left {
  float: left;
}

/* 这里的浮动影响的是li */
.header-site .first-header .first-header-left > ul >li{
  float: left;
  /* 各个导航之间应存在空隙 使用右边距是让左边是完整贴合*/
  margin-right: 18px;
  /* 字体大小 */
  font-size: 14px;
}

/* 最后一个元素，不需要右边框 */
.header-site .first-header .first-header-left > ul >li:last-child{
  margin-right: 0;
}

/* ------- 1.1、社区展开 start ------- */

.header-site .first-header .first-header-left > ul >li.have-down-menu {
  /* 给存12px的右填充，是为arrow放置倒三角的 */
  padding-right: 12px;
  /* 父相子绝 */
  position: relative;
}

/* ------- 1.1、社区展开 end ------- */


/* ----- 1、左侧导航 end ----- */


/* ----- 2、右侧导航 start ----- */

/* 将整个右侧导航右浮动 */
.header-site .first-header .first-header-right {
  float: right;
  /* 固定长度，防止之后调整变形不知道 */
  width: 225px;
}

/* 给a标签和span标签都添加间隔，同时将字体大小设置为15px */
.header-site .first-header .first-header-right a,.header-site .first-header .first-header-right span{
  margin-right: 11px;
  font-size: 15px;
  /* 主要是给span设置颜色 */
  color: white;
}

/* 最后一个元素，不需要右边框 */
.header-site .first-header .first-header-right a:last-child{
  margin-right: 0;
}

/* ----- 2、右侧导航 end ----- */
